.team-heading {  
    background-color: #00678c;
    color: rgb(238, 246, 248)
  }
  
  .team-area {
    max-width: 1000px;
    margin: 3em auto;
    flex-wrap: wrap;
  }
  
  .employee-card {
    margin: 1em;
    max-width: 280px;
    width: 90%;
    min-height: 22rem;
    background-color: #074990;
    color: rgb(238, 246, 248);
    display: flex;
    border-radius: 6%;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
    border: none;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    border-radius: 6%;
    justify-content: center;
    background-color: #6a86a3;
  }
  
  .list-group-item {
    color: #01042e;
    text-decoration: none;
  }